# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# uv
.uv/
uv.lock

# Tools
.hatch/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
*.nbconvert.ipynb
.jupyter/
.jupyter_ystore.db

# IDE
.vscode/
.idea/
*.swp
.DS_Store
